body {
  font-family: "Poppins";
}

.my-nav-img {
  padding-top: 0.8rem;
  padding-right: 1rem;
}

.n-link {
  color: rgb(20, 140, 196);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.post-list {
  padding-top: 5rem;
  padding-left: 4rem;
  align-items: center;
  overflow: hidden;
}

.post-list-items {
  margin-right: 3rem;
  align-items: center;
  list-style: none;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content {
  overflow: hidden;
}
